<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/assets/images/avatar.png' | relative_url }}">
    <meta content="{{ site.description }}" property="og:description">
    <meta content="{{ site.title }}" property="og:title">
    <meta content="{{ site.url }}/assets/images/avatar.png" property="og:image">
    <meta content="#ffffff" data-react-helmet="true" name="theme-color">
</head>
<body>
    {% include header.html %}
    <main class="container">
        {{ content }}
    </main>
    {% include footer.html %}
    <script src="{{ '/script.js' | relative_url }}"></script>
</body>
</html>
