/* Reset i blokada przewijania */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Blokada przewijania */
    font-family: 'SF Pro Display', sans-serif;
    background-color: #0d0d0d;
    color: #fff;
}

/* Górna belka */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    padding: 0 20px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); */
    z-index: 10;
}

.header-content {
    display: flex;
    align-items: center;
}

/* Avatar w kółku */
.header .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

/* Imię */
.header .name {
    font-size: 18px;
    font-weight: bold;
}

/* Kontener główny */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Odstęp między przyciskami */
    opacity: 0;
    animation: fadeIn 3s forwards;
}

/* Animacja fadeIn */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Przyciski */
.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 130px;
    height: 50px;

    color: #0d0d0d;
    text-decoration: none;

    border-radius: 15px;
    border-style: solid;
    border-color: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    background: #fff
    background-size: 300% 300%;

    transition: all 0.4s ease-in-out;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Efekt hover */
.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Tekst górny - Instagram */
.btn .top-text {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.8;
    margin-bottom: 2px;
}

/* Tekst dolny - Osobisty/Roboczy */
.btn .main-text {
    font-size: 18px;
    font-weight: 700;
}

/* Linki bez podkreśleń */
a {
    color: inherit;
}