<header class="header hidden">
    <div class="header-content">
        <img src="{{ '/assets/images/avatar.png' | relative_url }}" alt="Avatar" class="avatar">
        <span class="name">Paweł Wąsik</span>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="{{ site.baseurl }}/../index.html">Strona Główna</a></li>
                <li><a href="{{ site.baseurl }}/../strona1.html">Strona1</a></li>
                <li><a href="{{ site.baseurl }}/../strona2.html">Strona2</a></li>
                <li><a href="{{ site.baseurl }}/../strona3.html">Strona3</a></li>
            </ul>
            <div class="menu-icon" onclick="toggleMenu()">☰</div>
        </nav>
    </div>
</header>
