/* Reset i podstawowe style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'SF Pro Display', sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none; /* Wyłączenie zaznaczania tekstu */
}

/* Górna belka */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #121212; /* Taki sam kolor jak tło strony */
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
    opacity: 0; /* Ukrycie elementu początkowo */
    visibility: hidden; /* Ukrycie elementu początkowo */
    transition: opacity 1s ease-in-out, visibility 0s linear 1s; /* Efekt pojawiania się */
}

.header.fade-in {
    opacity: 1;
    visibility: visible; /* Widoczność elementu po animacji */
    transition: opacity 1s ease-in-out;
}

/* Ukrywanie elementu */
.hidden {
    opacity: 0;
    visibility: hidden;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Rozmieść elementy po lewej i prawej */
    width: 100%;
}

/* Avatar w kółku */
.header .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

/* Imię */
.header .name {
    font-size: 18px;
    font-weight: bold;
    margin-right: auto; /* Przesunięcie napisu na lewą stronę */
}

/* Menu nawigacyjne */
.nav {
    margin-top: 10px; /* Dodanie marginesu górnego, aby wyrównać menu */
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Styl dla urządzeń mobilnych (ekrany wąskie) */
@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 60px; /* Wysuwanie menu spod górnego paska */
        left: 0;
        right: 0;
        background-color: #2d2d2d; /* Ciemniejszy odcień szarości */
        width: 100%; /* Szerokość menu */
        text-align: center;
        z-index: 9; /* Menu pod górnym paskiem */
        overflow: hidden; /* Ukryj elementy wychodzące poza obszar */
        opacity: 0; /* Początkowo ukryte */
        transform: translateY(-100%); /* Początkowa pozycja nad ekranem */
        filter: blur(10px); /* Początkowe rozmycie */
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, filter 0.5s ease-in-out; /* Animacja pojawiania się i chowania */
    }

    .nav-list.active,
    .nav-list.inactive {
        pointer-events: none; /* Wyłączanie wskaźników podczas animacji */
    }

    .nav-list.active {
        display: flex;
        transform: translateY(0); /* Menu wysuwane spod górnego paska */
        opacity: 1; /* Pokazanie menu */
        filter: blur(0); /* Usunięcie rozmycia */
    }

    .nav-list.inactive {
        display: flex;
        transform: translateY(-100%); /* Menu chowane nad ekranem */
        opacity: 0; /* Ukrycie menu */
        filter: blur(10px); /* Dodanie rozmycia */
    }

    .nav-list.active.finished,
    .nav-list.inactive.finished {
        pointer-events: auto; /* Włączenie wskaźników po zakończeniu animacji */
    }

    .nav-list li {
        margin: 0;
        padding: 10px 0;
        border-bottom: 1px solid #444; /* Dodanie linii oddzielającej pozycje menu */
    }

    .nav-list li:last-child {
        border-bottom: none; /* Usunięcie linii oddzielającej dla ostatniego elementu */
    }

    .nav-list a {
        display: block;
        padding: 10px;
        transition: background-color 0.3s;
    }

    .nav-list a:hover {
        background-color: #444; /* Zmiana tła przy najechaniu */
    }

    .menu-icon {
        display: block;
    }
}

/* Styl dla komputerów (ekrany szerokie) */
@media (min-width: 768px) {
    .nav-list {
        display: flex;
        flex-direction: row;
    }
    .menu-icon {
        display: none;
    }
}

/* Animacja ładowania */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
}

.loading-screen.fade-out {
    animation: fadeOut 1s ease-in-out;
    animation-fill-mode: forwards;
}

.loader {
    border: 8px solid #121212;
    border-top: 8px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* Kontener główny */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 0s linear 1s;
    z-index: 10; /* Przenieś na wierzch */
}

.container.fade-in {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-in-out;
}

/* Galeria */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery-item {
    background-color: #1A1A1A;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item img {
    max-width: 100%;
    border-radius: 10px;
}

.gallery-item p {
    text-align: center;
    margin-top: 10px;
}

.gallery-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
